<div class="contribution">
  <div class="sentence">
    <div class="row con-info" style="display:inline-flex;width:70%;height:50px">
        <img src="../assets/avatar.png" style="width:50px;height:50px;" class="pull-right">
        <p style="margin-top:0;padding:0 10px;color:#01b01b;">Samar Hamza<br>
        <span style="color:#90949c;">Yesterday 12:32 PM</span></p>
    </div>
    <div class="row con-body" style="width:70%;">
        <p style="padding:0 0 10px 60px;">This is the first sentence in the story</p>
    </div>
  </div>
  <div class="reply">
    <div class="row con-info">
        <img src="../assets/avatar.png" style="width:40px;height:40px;" class="pull-right">
        <p style="margin-top:0;padding:0 10px;color:#01b01b;">Samar Hamza<br>
        <span style="color:#90949c;">Yesterday 12:32 PM</span></p>
    </div>
    <div class="row con-body">
        <p style="padding:0 0 10px 50px;">This is the first reply</p>
    </div>
  </div>
</div>